a {
    text-decoration: none;
}

a.topbar {
    color:#FFF;
}

a.nav-link {font-weight: bold;}

a.topbar:hover {
    color: gold;
}

.radius {
    border-radius: 25px;
}

.psikoteknikKart {
    background-color: #FFF;
    border-top: 3px solid #293742;
    border-bottom: 3px solid #293742;
}

.psikoteknikKart:hover {
    background-color: #FFF;
    border-top: 3px solid #ff8040;
    border-bottom: 3px solid #ff8040;
}

.kartBaslik {
    color: #293742;
}

#yukariCik {
    position: fixed;
    bottom: 50px;
    left: 20px;
    z-index: 3333;
}

#whatsApp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}